html {
    font-size: 16px;
    font-family: Consolas, monaco, monospace;
    background-color: rgb(245, 244, 236);
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 60px;
    padding: 10px 0;
}
a:link,
a:visited {
    color: blue;
}

body {
    line-height: 1.6;
    padding: 0 10px;
    margin: 60px auto;
    max-width: 700px;
}

img {
    display: block;
    max-width: 100%;
}
